In [16]:
import pandas as pd

In [24]:
fipe = pd.read_csv("./tabelaFipe.csv")
fipe.head()

,marca.codigo,marca.nome,modelo.codigo,modelo.nome,ano.codigo,ano.nome,info.Marca,info.Modelo,info.CodigoFipe,info.AnoModelo,info.TipoVeiculo,info.Valor,Ano,Trimestre,Mês,Dia,info.Combustivel,info.SiglaCombustivel
0,1,Acura,1,Integra GS 1.8,1991-1,1991 Gasolina,Acura,Integra GS 1.8,0,1991,1,10064,2020,Trim 4,outubro,1,Gasolina,G
1,1,Acura,1,Integra GS 1.8,1992-1,1992 Gasolina,Acura,Integra GS 1.8,0,1992,1,11051,2020,Trim 4,outubro,1,Gasolina,G
2,1,Acura,2,Legend 3.2/3.5,1991-1,1991 Gasolina,Acura,Legend 3.2/3.5,0,1991,1,13066,2020,Trim 4,outubro,1,Gasolina,G
3,1,Acura,2,Legend 3.2/3.5,1992-1,1992 Gasolina,Acura,Legend 3.2/3.5,0,1992,1,13474,2020,Trim 4,outubro,1,Gasolina,G
4,1,Acura,2,Legend 3.2/3.5,1993-1,1993 Gasolina,Acura,Legend 3.2/3.5,0,1993,1,14499,2020,Trim 4,outubro,1,Gasolina,G

In [32]:
fipe[["modelo.nome"]].drop_duplicates().where("Ka" in "modelo.nome")

ValueError: Array conditional must be same shape as self

In [23]:
ka = pd.read_csv("./dados/sp_ka.csv")
ka.head()

,modelo,marca,combustivel,cambio,direcao,cor,ano,quilometragem,potenciamotor,blindado,valor
0,4159,8,4,2,1,0,2017,76000,1.0,0,39990.0
1,4159,8,4,2,1,9,2018,99999,1.0,0,39990.0
2,4159,8,4,2,1,0,2015,36000,1.0,0,37490.0
3,4159,8,4,2,2,0,2017,64000,1.0,0,37500.0
4,4159,8,4,2,2,0,2017,87000,1.0,0,33000.0